.idea
*.iml
Cloud/plugins
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
AdminPanel/target
Cloud/target
Connector/target
Shared/target
target
/centauricloud-master/nb-configuration.xml
/centauricloud-master/config.properties
dependency-reduced-pom.xml
centauricloud-daemon-connector/logs
centauricloud-daemon-connector/config.properties
